@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

body {
    background-color: #264246;
    color: aliceblue;
}

header {
    display: flex;
    justify-content: center;
}
  
  header h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: #14A4C1;
    margin-top: 70px;
    font-size: 60px;
    text-align: center;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

li {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
}

a {
    text-decoration: none;
    margin-left: 3px;
    color: aliceblue;
}

a:hover {
    color: #14A4C1;
}

footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
    color: aliceblue;
}

footer p {
    text-align: center;
}

#texto-footer {
    font-family:'Times New Roman', Times, serif
}